
body {
    background-color: black;
    font-family: 'Segoe UI';
    
  }
  
  .game {
    text-align: center;
    padding: 40px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #2e7d32;
    font-size:40px;
    font-weight: bold;

  }
  
  .status {
    font-size: 20px;
    margin-bottom: 15px;
    color: #00695c;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 10px;
    font-size: 36px;
    color: #b52116;
    display: flex;
    cursor: pointer;
  }
  
  .cell:hover {
    transform: scale(1.05);
    background: #c8e6c9;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background: #388e3c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background: #2e7d32;
  }
  